<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une civilisation</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body class="ajoutCivilisation">
{% include 'main_nav.html' %}
<h1 class="mainTitleIndex"> Saisie d'une nouvelle civilisation : </h1>
    {% if id is not none %}
        <form method="post" action="/antiquite/civilisationupdatetraitement/{{id}}/">
    {% else %}
            <form method="post" action="/antiquite/civilisationtraitement/">
    {% endif %}
                {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Entrer les données"\>

    </form>
{% include 'main_footer.html' %}
</body>
</html>